body {
    background-color: #f9fafb;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #333;
}

.form-label {
    font-family: 'Poppins', sans-serif;
}

.btn {
    background-color: #007bff;
    border: none;
}

.btn:hover {
    background-color: #0056b3;
}

.alert {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}
